@import 'fonts';

// === common
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    height: 100vh;
    // overflow: hidden;

}

.section-outer{
    height: 100%;
}
// === / common

// === section-header ===
.section-header {
    background: url('../img/nebula-planet-by-david-cowan-1629768-1599x956.jpg'),
    radial-gradient(50% 50%, rgba(0, 0, 0, 0.068) 60%, rgba(0, 0, 0, 0.151) , rgba(0, 0, 0, 0.678));
    background-position: center;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    .section-inner{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 60%;
    }
    &-content{
        flex-grow: 1;
        display: flex;
        align-items: center;
        
    }
    &-wrapper{
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        &__title,
        &__subtitle{
            text-align: center;
        }
        &__title{
            color: white;
            font-size: 50px;
            @include NiseSegaRegular;
            text-shadow: 0 0 15px red;
            letter-spacing: 10px;
        }
        &__subtitle{
            margin: auto;
            color: white;
            font-size: 27px;
            line-height: 20px;
            @include CStrike;
            margin-top: 10px;

        }
        &__form{
            display: flex;
            position: relative;
            top: 30px;
            &-input { 
                flex: 1;
                padding-right: 40px;
                input{
                    color: rgb(57, 129, 57);
                    text-shadow: 0 0 9px rgb(116, 101, 51);
                    flex: 1;
                    border: none;
                    background: rgba(128, 128, 128, 0.548);
                    margin: 0;
                    padding: 16px 20px;
                    font-size: 16px;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;
                    &::placeholder {
                        color: white; 
                        text-shadow: 0 0 0px;
                    }
                }
            }
            &-button {
                button{
                    border: none;
                    background: rgba(184, 102, 64, 0.829);
                    margin: 0;
                    padding: 16px 35px;
                    font-size: 16px;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
    }
    
}
// === / section-header ===

// === section-header ===
.choose-cabin {
    background: linear-gradient(45deg, red, black);
    background-position: center;
    background-size: 100% 100%;
}
// === / section-header ===

// === section-header ===
.choose-flight {

}
// === / section-header ===

// === section-header ===
.choose-food {

}
// === / section-header ===

// === section-header ===
.choose-luggage {

}
// === / section-header ===

// === section-header ===
.choose-personalData {

}
// === / section-header ===

// === section-header ===
.choose-spaceShip {

}
// === / section-header ===