@charset "UTF-8";
@font-face {
  font-family: 'Russian2 Regular';
  src: url("../fonts/Russian.eot");
  src: url("../fonts/Russian.eot?#iefix") format("embedded-opentype"), url("../fonts/Russian.woff") format("woff"), url("../fonts/Russian.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Counter-Strike Regular';
  src: url("../fonts/Counter-StrikeRegular.eot");
  src: url("../fonts/Counter-StrikeRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Counter-StrikeRegular.woff") format("woff"), url("../fonts/Counter-StrikeRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nise Sega Cyrillic Regular';
  src: url("../fonts/NiseSegaCyrillic.eot");
  src: url("../fonts/NiseSegaCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/NiseSegaCyrillic.woff") format("woff"), url("../fonts/NiseSegaCyrillic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layout {
  height: 100vh;
  overflow: hidden;
}

.section-inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 95%;
  position: relative;
}

.background-stars {
  position: absolute;
  height: 100px;
  width: 100px;
}

.background-stars__img {
  height: 100%;
  width: 100%;
  -webkit-filter: contrast(20%);
          filter: contrast(20%);
}

.section-outer {
  position: relative;
}

.hyphen {
  font-family: Arial, Helvetica, sans-serif;
}

.info-bar {
  background: url("../img/s1200.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: -115px;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-bar-none {
  display: none !important;
}

.info-bar__data {
  position: relative;
}

.info-bar__data-rule:after {
  position: absolute;
  margin-top: 5px;
  content: '';
  height: 2px;
  width: 30%;
  background: -webkit-gradient(linear, left top, right top, from(black), to(yellow));
  background: linear-gradient(90deg, black, yellow);
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .info-bar__data-rule:after {
    display: none;
  }
}

.info-bar__toggle {
  position: absolute;
  bottom: 10px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

@media (min-width: 992px) {
  .info-bar__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .info-bar__toggle {
    right: 33%;
  }
}

@media (max-width: 767px) {
  .info-bar__toggle {
    right: 25%;
  }
}

@media (max-width: 576px) {
  .info-bar__toggle {
    right: 4%;
  }
}

.info-bar__toggle-arrow {
  height: 50px;
  width: 35px;
  -webkit-filter: brightness(2060%) drop-shadow(0 0 10px black);
          filter: brightness(2060%) drop-shadow(0 0 10px black);
  cursor: pointer;
}

.info-bar__toggle-arrow_up {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.info-bar_open {
  max-height: 1100px !important;
}

.info-bar__wrapper {
  -webkit-transition-duration: .9s;
          transition-duration: .9s;
  min-height: 81px;
  width: 1200px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#4441416e), color-stop(#9746468c), color-stop(#9746467a), to(#4441413a));
  background: linear-gradient(0deg, #4441416e, #9746468c, #9746467a, #4441413a);
}

@media (max-width: 991px) {
  .info-bar__wrapper {
    overflow: hidden;
    min-height: 70px;
    max-height: 70px;
    position: relative;
  }
}

.info-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 5px;
}

@media (min-width: 992px) {
  .info-bar__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 991px) {
  .info-bar__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-bar__personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
}

@media (max-width: 991px) {
  .info-bar__personal-data {
    margin: 0 20%;
  }
}

@media (max-width: 767px) {
  .info-bar__personal-data {
    margin: 0 4%;
  }
}

.info-bar__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

@media (min-width: 992px) {
  .info-bar__params {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 991px) {
  .info-bar__params {
    margin: 0 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .info-bar__params {
    margin: 0 4%;
  }
}

.info-bar__crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
}

@media (max-width: 991px) {
  .info-bar__crew {
    margin: 0 20%;
  }
}

@media (max-width: 767px) {
  .info-bar__crew {
    margin: 0 4%;
  }
}

.info-bar__crew-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-bar__crew-link {
  width: 50px;
  text-decoration: none;
}

.info-bar__crew-list {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.info-bar__crew-list-item {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: block;
  background-color: red;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px #3f574d;
          box-shadow: 0 0 1px 1px #3f574d;
}

.info-bar__crew-list-item:hover {
  -webkit-box-shadow: 0 0 3px 3px #6c9797;
          box-shadow: 0 0 3px 3px #6c9797;
}

.info-bar__point {
  width: 20%;
  text-decoration: none;
}

@media (min-width: 992px) {
  .info-bar__point {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .info-bar__point {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.info-bar__item {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 33.3%;
}

.info-bar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  text-decoration: none;
}

.info-bar__link:hover > .info-bar__title {
  color: #3ab13a;
}

.info-bar__title {
  font-size: 17px;
  text-shadow: 0 0 2px green;
  color: white;
}

.info-bar__text {
  color: white;
  font-size: 22px;
}

.section-header {
  background: url("../img/nebula-planet-by-david-cowan-1629768-1599x956.jpg"), radial-gradient(50% 50%, rgba(0, 0, 0, 0.068) 60%, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.678));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

@media (min-width: 768px) {
  .section-header .section-inner {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .section-header .section-inner {
    width: 80%;
  }
}

.section-header-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-wrapper {
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header-wrapper__title, .section-header-wrapper__subtitle {
  text-align: center;
}

.section-header-wrapper__title {
  color: white;
  font-size: 50px;
  font-family: 'Nise Sega Cyrillic Regular';
  text-shadow: 0 0 15px red;
  letter-spacing: 10px;
}

.section-header-wrapper__subtitle {
  margin: auto;
  color: white;
  font-size: 27px;
  line-height: 20px;
  font-family: 'Counter-Strike Regular';
  margin-top: 15px;
}

.section-header-wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 40px;
}

@media (max-width: 1199px) {
  .section-header-wrapper__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .section-header-wrapper__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section-header-wrapper__form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1200px) {
  .section-header-wrapper__form-input {
    padding-right: 40px;
  }
}

@media (max-width: 1199px) {
  .section-header-wrapper__form-input {
    padding-bottom: 20px;
  }
}

.section-header-wrapper__form-input input {
  color: #010f01;
  text-shadow: 0 0 3px #cfc9b2, 0 0 6px #d3af38;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background: rgba(128, 128, 128, 0.548);
  margin: 0;
  padding: 16px 20px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.section-header-wrapper__form-input input::-webkit-input-placeholder {
  color: white;
  text-shadow: 0 0 0px;
}

.section-header-wrapper__form-input input:-ms-input-placeholder {
  color: white;
  text-shadow: 0 0 0px;
}

.section-header-wrapper__form-input input::-ms-input-placeholder {
  color: white;
  text-shadow: 0 0 0px;
}

.section-header-wrapper__form-input input::placeholder {
  color: white;
  text-shadow: 0 0 0px;
}

.section-header-wrapper__form-input_border-color_white:focus {
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.section-header-wrapper__form-input_border-color_red:focus {
  -webkit-box-shadow: 0 0 0 2px #c21d1d;
          box-shadow: 0 0 0 2px #c21d1d;
}

.section-header-wrapper__form-input_border-color_green:focus {
  -webkit-box-shadow: 0 0 0 2px #1dc21d;
          box-shadow: 0 0 0 2px #1dc21d;
}

.section-header-wrapper__form-button button {
  border: none;
  background: rgba(184, 102, 64, 0.829);
  margin: 0;
  padding: 16px 35px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.section-header-wrapper__form-button button:hover {
  -webkit-box-shadow: 0 0 4px 2px #ffb947;
          box-shadow: 0 0 4px 2px #ffb947;
}

.section-header-wrapper__form-button button:active {
  -webkit-box-shadow: 0 0 6px 3px #ff7215;
          box-shadow: 0 0 6px 3px #ff7215;
}

.little-choise {
  z-index: 50;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  position: relative;
}

@media (max-width: 767px) {
  .little-choise {
    padding-top: 10px;
  }
}

.little-choise__description {
  display: block;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 25px;
  font-family: 'Counter-Strike Regular';
}

@media (max-width: 767px) {
  .little-choise__description {
    font-size: 30px;
  }
}

.little-choise-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media (max-width: 767px) {
  .little-choise-container {
    padding-left: 20%;
  }
}

@media (min-width: 1200px) {
  .little-choise-container_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1199px) {
  .little-choise-container_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100px;
  }
}

@media (max-width: 767px) {
  .little-choise-container_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 150px 150px;
        grid-template-rows: 150px 150px;
    grid-auto-flow: column;
    margin-top: 30px;
  }
}

.little-choise-container__radio {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  height: 50px;
}

.little-choise-container__radio_big {
  padding-top: 250px;
}

.little-choise-container__radio_margin {
  margin: 30px;
}

.little-choise-container__radio_small {
  width: 100px;
  padding-top: 150px;
}

@media (max-width: 767px) {
  .little-choise-container__radio_small {
    width: 70px;
    padding-top: 45px;
  }
}

.little-choise-container__radio-input {
  display: none;
}

.little-choise-container__radio-label {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 27px;
  font-family: 'Counter-Strike Regular';
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}

.little-choise-container__radio-label:before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.little-choise-container__radio-label_big:before {
  top: -200px;
  height: 200px;
  width: 200px;
  background-size: 95%;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .little-choise-container__radio-label_small {
    position: relative;
    top: -100px;
  }
}

.little-choise-container__radio-label_small:before {
  top: -80px;
  height: 100px;
  width: 100px;
  background-size: 90%;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .little-choise-container__radio-label_small:before {
    position: relative;
    top: 0px;
    width: 70px;
    height: 70px;
  }
}

.little-choise-container__radio-label_rectangle:before {
  background-size: auto 100%;
}

@media (min-width: 992px) {
  .little-choise-container__radio-label_rectangle:before {
    height: 410px;
    width: 180px;
    top: -250px;
  }
}

@media (max-width: 991px) {
  .little-choise-container__radio-label_rectangle:before {
    height: 340px;
    width: 170px;
    top: -230px;
  }
}

@media (min-width: 992px) {
  .little-choise-container__radio-label_rectangle {
    width: 180px;
    padding-top: 170px;
  }
}

@media (max-width: 991px) {
  .little-choise-container__radio-label_rectangle {
    padding-top: 130px;
    width: 170px;
  }
}

.little-choise-container__radio-input:checked + .little-choise-container__radio-label:before {
  -webkit-box-shadow: 0 0 1px 6px white !important;
          box-shadow: 0 0 1px 6px white !important;
}

.little-choise-container__radio-input:hover + .little-choise-container__radio-label:before {
  -webkit-box-shadow: 0 0 1px 6px rgba(255, 255, 255, 0.555);
          box-shadow: 0 0 1px 6px rgba(255, 255, 255, 0.555);
}

.little-choise-container__radio-input-js_red:hover + .little-choise-container__radio-label:before {
  -webkit-box-shadow: 0 0 1px 6px rgba(110, 16, 16, 0.555);
          box-shadow: 0 0 1px 6px rgba(110, 16, 16, 0.555);
}

.picture-serenity:before {
  background-image: url("../img/Serenity.png");
}

.picture-rossinant:before {
  background-image: url("../img/Rossinant.png");
}

.picture-millenniumFalcon:before {
  background-image: url("../img/milleniumFalcon-min.png");
}

.picture-normandia:before {
  background-image: url("../img/NormandiaSr2-min.png");
}

.choise-link {
  position: relative;
  top: 50px;
  min-width: 72px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-animation-name: arrow-link;
          animation-name: arrow-link;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media (max-width: 767px) {
  .choise-link {
    top: -20px;
  }
}

.choise-link-text {
  color: white;
  text-align: center;
  font-size: 27px;
}

.choise-link-icon {
  width: 100%;
  -webkit-filter: drop-shadow(0 1px 10px black);
          filter: drop-shadow(0 1px 10px black);
}

@-webkit-keyframes arrow-link {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes arrow-link {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.default {
  z-index: 150;
  top: -30px;
  width: 220px;
}

.spec {
  top: 30px;
  width: 260px;
}

.btn-container {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 992px) {
  .btn-container {
    display: none;
  }
}

@media (max-width: 991px) {
  .btn-container {
    display: block;
  }
}

.btn-back {
  position: relative;
  cursor: pointer;
  float: left;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-back__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-next {
  position: relative;
  cursor: pointer;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-next__arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.btn-arrow {
  width: 50px;
  height: 50px;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

.choose-starship {
  background: linear-gradient(45deg, #1ed1b9, #03586d);
  background-position: center;
  background-size: cover;
}

.picture-accelerator:before {
  background-image: url("../img/accelerator.png");
}

.picture-railGan:before {
  background-image: url("../img/railGan.png");
}

.picture-faceBeacon:before {
  background-image: url("../img/fakeBeacon.png");
}

.picture-strangeSphere:before {
  background-image: url("../img/strangeSphere.png");
}

.choose-equipment {
  background: linear-gradient(45deg, #35df9d, #133472);
  background-position: center;
  background-size: cover;
}

.picture-neilArmstrong:before {
  background-image: url("../img/neilArmstrong.png");
}

.picture-dougHurley:before {
  background-image: url("../img/DougHurley.png");
}

.picture-bobBehnken:before {
  background-image: url("../img/bobBehnken.png");
}

.picture-feian:before {
  background-image: url("../img/feian-min.png");
}

.picture-placeholder:before {
  background-image: url("../img/placeholder-Copy.png");
}

.choose-crew {
  background: linear-gradient(45deg, #803f71, #1386b4);
  background-position: center;
  background-size: cover;
}

.choose-crew .section-inner {
  width: 70% !important;
}

.picture-titan:before {
  background-image: url("../img/nebula-planet-by-david-cowan-1629768-1599x956.jpg");
}

.picture-mars:before {
  background-image: url("../img/mars.jpg");
}

.picture-jupiter:before {
  background-image: url("../img/Jupiter'sSputnics.jpg");
}

.picture-asteroidBelt:before {
  background-image: url("../img/asteroidBelt.jpg");
}

.picture-ceres:before {
  background-image: url("../img/Ceres.jpg");
}

.picture-saturnsSputnics:before {
  background-image: url("../img/saturnSputnics.jpg");
}

.picture-saturnsSputnics:after {
  content: "Спутники Сатурна";
  color: white;
  font-size: 0px;
  position: relative;
  bottom: 200px;
}

.choose-flightPath {
  background: linear-gradient(45deg, #752963, #3c2cce);
  background-position: center;
  background-size: cover;
}

.section-launch {
  background: url("../img/arrivingOnMars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */