@import 'fonts';

// === common
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    height: 100vh;
    // overflow: hidden;

}

.section-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.hyphen{
    font-family: Arial, Helvetica, sans-serif;
}
// === / common

// === section-header ===
.section-header {
    background: url('../img/nebula-planet-by-david-cowan-1629768-1599x956.jpg'),
    radial-gradient(50% 50%, rgba(0, 0, 0, 0.068) 60%, rgba(0, 0, 0, 0.151) , rgba(0, 0, 0, 0.678));
    background-position: center;
    background-size: 100% 100%;
    background-blend-mode: multiply;

    .section-inner{
        width: 60%;
    }
    
    &-content{
        flex-grow: 1;
        display: flex;
        align-items: center;
        
    }
    &-wrapper{
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        &__title,
        &__subtitle{
            text-align: center;
        }
        &__title{
            color: white;
            font-size: 50px;
            @include NiseSegaRegular;
            text-shadow: 0 0 15px red;
            letter-spacing: 10px;
        }
        &__subtitle{
            margin: auto;
            color: white;
            font-size: 27px;
            line-height: 20px;
            @include CStrike;
            margin-top: 15px;

        }
        &__form{
            display: flex;
            position: relative;
            top: 40px;
            &-input { 
                flex: 1;
                padding-right: 40px;
                input{
                    color: rgb(1, 15, 1);
                    text-shadow: 0 0 3px rgb(207, 201, 178), 0 0 6px rgb(211, 175, 56);
                    flex: 1;
                    border: none;
                    background: rgba(128, 128, 128, 0.548);
                    margin: 0;
                    padding: 16px 20px;
                    font-size: 20px;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;
                    &::placeholder {
                        color: white; 
                        text-shadow: 0 0 0px;
                    }
                    &:focus{
                        box-shadow: 0 0 0 2px white;
                    }
                }
            }
            &-button {
                button{
                    border: none;
                    background: rgba(184, 102, 64, 0.829);
                    margin: 0;
                    padding: 16px 35px;
                    font-size: 16px;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
    }
    
}
// === / section-header ===

// for choose-starship and choose-flightPath
.little-choise{
    height: 80%;
    display: flex;
    flex-direction: column;
    &__description{
        padding-top: 100px;
        text-align: center;
        color: white;
        font-size: 40px;
        line-height: 25px;
        @include CStrike;
    }
    &-container{
        padding-top: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__radio{
            flex-shrink: 0;
            width: 200px;
            height: auto;
            &-input{
                display: none;
            }
            &-label{
                text-align: center;
                padding-top: 40px;
                color: white;
                font-size: 27px;
                @include CStrike;
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
                &:before{
                    content: "";
                    background-position: center;
                    background-size: 95%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    position: absolute;
                    top: -200px;
                    height:200px;
                    width: 200px;
                    display: block;
                    transition-duration: .4s;
                } 
                
            }

            &+&{
                margin-left: 100px;
            }
            &-input:checked + &-label:before {
                box-shadow: 0 0 1px 6px rgb(255, 255, 255)!important;

                
            }
            &-input:hover + &-label:before {
                box-shadow: 0 0 1px 6px rgba(255, 255, 255, 0.555);
                
            } 

        }
    }
    
}
.picture-serenity:before{
    background-image: url('../img/Serenity.png');
}
.picture-rossinant:before{
    background-image: url('../img/Rossinant.png');
}
.picture-millenniumFalcon:before{
    background-image: url('../img/milleniumFalcon-min.png');
}
.picture-normandia:before{
    background-image: url('../img/NormandiaSr2-min.png');
}
.choise-link{
    width: 72px;
    align-self: center;
    cursor: pointer;
    &-text{
        color: white;
        text-align: center;
        font-size: 27px;
    }
    &-icon{
        width: 100%;
    }
}
// / for choose-starship and choose-flightPath

// === choose-starship ===
.choose-starship {
    background: linear-gradient(45deg, rgb(30, 209, 185), rgb(3, 88, 109));
    background-position: center;
    background-size: cover;
}
// === / choose-starship ===
.picture-accelerator:before{
    background-image: url('../img/accelerator.png');
}
.picture-railGan:before{
    background-image: url('../img/railGan.png');
}
.picture-faceBeacon:before{
    background-image: url('../img/fakeBeacon.png')
}
.picture-strangeSphere:before{
    background-image: url('../img/strangeSphere.png')
}
// === section-header ===
.choose-equipment {
    background: linear-gradient(45deg, rgb(53, 223, 157), rgb(19, 52, 114));
    background-position: center;
    background-size: cover;
}
// === / section-header ===

// === section-header ===
.choose-food {

}
// === / section-header ===

// === section-header ===
.choose-luggage {

}
// === / section-header ===

// === section-header ===
.choose-personalData {

}
// === / section-header ===

// === section-header ===
.choose-spaceShip {

}
// === / section-header ===