extends layout/app 
block page
    div.layout
        include chunk/infobar
        include chunk/header
        include chunk/starship_choice
        include chunk/equipment_choice
        include chunk/flightpath_choice
        include chunk/crew_choice
        include chunk/start_game
        
    script(src="js/JQuery.js")
    script(src="js/scripts.js")

//- block modal
//-     - 
//-         var modal_data = {
//-             id: "marketingBotModal", 
//-             title: "Marketing Tg Bot", 
//-             text: "Телеграм бот с административной частью в самом боте. Пользователь может подписаться, выбрав уровень подписки. Затем он может просмотреть материалы, установленные для каждого уровня подписки. Админ может через бота или через Django-admin настроить рассылку сообщений по времени и загрузить материалы для разных уровней подписки. Для получения обновлений от телеграмма использовался polling.",
//-             img: [{src: "/img/fog.jpg", label: "first slide"}, {src: "/img/forest.jpg", label: "second slide"}]
//-         }
//-     include ./utils/modal
