extends layout/app 

block page
    include chunk/header
    div.container
        include chunk/aboutme
        
        include chunk/education
        include chunk/careers
        include chunk/skills
        include chunk/portfolio


    include chunk/footer

block modal
    - 
        var modal_data = {
            id: "marketingBotModal", 
            title: "Marketing Tg Bot", 
            text: "Телеграм бот с административной частью в самом боте. Пользователь может подписаться, выбрав уровень подписки. Затем он может просмотреть материалы, установленные для каждого уровня подписки. Админ может через бота или через Django-admin настроить рассылку сообщений по времени и загрузить материалы для разных уровней подписки. Для получения обновлений от телеграмма использовался polling.",
            img: [{src: "/img/fog.jpg", label: "first slide"}, {src: "/img/forest.jpg", label: "second slide"}]
        }
    include ./utils/modal

    - 
        var modal_data = {
            id: "doskiModal", 
            title: "Catering network", 
            text: "Разработка нового функционала, устранение багов, подключение к стороннему API, верстка по макетам из Figma. В проекте реализованы функции заказа доставки продуктов и бронирования столиков в ресторане с интерактивной схемой расположения столиков для каждого города. Менеджерская часть сайта позволяет обрабатывать и подтверждать бронирования. Пользователь может зарегистрироваться с использованием телефона в качестве имени пользователя и просматривать историю заказов в личном кабинете.",
            img: [{src: "/img/fog.jpg", label: "first slide"}, {src: "/img/forest.jpg", label: "second slide"}]
        }
    include ./utils/modal

    - 
        var modal_data = {
            id: "alphardModal", 
            title: "Huge Audio Distributor", 
            text: "Реализация нового функционала как на фронтенде, так и на бекенде, устранение багов, подключение к стороннему API. В проекте реализованы функции просмотра и заказа аудио оборудования с детальными страницами продуктов, фотографиями, описанием, стоимостью доставки и комментариями пользователей. Включена быстрая регистрация по номеру телефона и подписка на рассылку по почте. В личном кабинете доступна история и статус заказов с возможностью отмены и изменения заказов. На сайте реализована система скидок и волн скидок, активируемых во время крупных акций, таких как Черная пятница. Celery используется для рассылки информации о статусе заказов, интеграции с 1C для отправки и получения статусов заказов, актуализации адресов пунктов выдачи и отправки заказов в транспортные компании. CI-CD автоматизировал тестирование и развертывание сайта при загрузке новых коммитов на продакшн и тестовые серверы. Docker использовался для контейнеризации и запуска Celery, базы данных и проекта на Django.",
            img: [{src: "/img/fog.jpg", label: "first slide"}, {src: "/img/forest1280.jpg", label: "second slide"}]
        }
    include ./utils/modal

    - 
        var modal_data = {
            id: "exampleModal2", 
            title: "Marketing Tg Bot", 
            text: "Some text<br>Another paragraph",
            img: [{src: "/img/fog.jpg", label: "first slide"}, {src: "/img/forest.jpg", label: "second slide"}]
        }
    include ./utils/modal
