mixin draw_stars()
    div.background-stars(style="top: 12%; left: 21%;")
        img.background-stars__img(src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 72%; left: 71%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 34%; left: 12%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 74%; left: 7%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 80%; left: 35%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 30%; left: 85%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 20%; left: 1%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    
    div.background-stars(style="top: 88%; left: 95%;")
        img.background-stars__img(src="img/stars.jpg" alt="" )
    