mixin next-bottom-btn()
    div.next-btn-offset.py-5
    div.position-absolute.w-100.bottom-0.start-0.swiper-js
        div.choise-link-animation.d-flex.flex-column.align-items-center.text-light
            div.fs-3.fit-content next
            i.fs-1.bi.bi-arrow-down-short