div.careers 
    h2.title Work experience
    div.row.my-3.pb-3.bottom-line
        div.col-md-3.careers__left-block(data-aos="fade-up" data-aos-duration="3000")
            p.careers__text Open to work now. Работал над следующими проектами для фирмы "Online Solutions"
        div.col-md-5
        div.col-md-4.careers__right-block(data-aos="fade-up" data-aos-duration="3000")
            img(src="/img/work.png", class="careers__picture", alt="careers", srcset="")
        
        div.timeline
            ul.clickable-list
                li(data-aos="fade-up", data-aos-duration="3000", data-bs-toggle="modal", data-bs-target="#alphardModal")
                    div.d-flex.justify-content-between
                        h3 Крупный дистрибутор аудио оборудования
                        span сентябрь 2022 — апрель 2024
                    h4 online solutions
                    span Технологии:
                        span.tech-link.badge.bg-success Python
                        span.tech-link.badge.bg-success Django
                        span.tech-link.badge.bg-warning JavaScript
                        span.tech-link.badge.bg-warning JQuery
                        span.tech-link.badge.bg-secondary PostgreSQL
                        span.tech-link.badge.bg-success Celery
                        span.tech-link.badge.bg-success Pandas
                        span.tech-link.badge.bg-primary Docker
                        span.tech-link.badge.bg-primary CI-CD
                li(data-aos="fade-up" data-aos-duration="3000" data-bs-toggle="modal" data-bs-target="#doskiModal")
                    div.d-flex.justify-content-between
                        h3 Сеть общественного питания
                        span март 2022 — сентябрь 2022
                    h4 online solutions
                    span Технологии:
                        span.tech-link.badge.bg-success Python
                        span.tech-link.badge.bg-success Django
                        span.tech-link.badge.bg-warning JavaScript
                        span.tech-link.badge.bg-warning JQuery
                        span.tech-link.badge.bg-danger Svelte
                        span.tech-link.badge.bg-secondary PostgreSQL
                li(data-aos="fade-up" data-aos-duration="3000" data-bs-toggle="modal" data-bs-target="#marketingBotModal")
                    div.d-flex.justify-content-between
                        h3 Маркетинговый телеграм бот
                        span ноябрь 2023
                    h4 online solutions
                    span Технологии:
                        span.tech-link.badge.bg-success Python
                        span.tech-link.badge.bg-success Django
                        span.tech-link.badge.bg-success python-telegram-bot
                        span.tech-link.badge.bg-success Celery
                        span.tech-link.badge.bg-secondary sqlite3