include ../mixins/next_btn
include ../mixins/carousel_items
include ../mixins/background_stars

div.d-flex.flex-column.section-outer.choose-crew
    div.infobar-min-height.w-100
    +draw_stars

    div.container
        div.little-choise__description.text-center.text-light.mt-4 Выберите членов экипажа (максимум 5)
        div.carousel.mt-5.d-flex(id="crewCarouselControls")
            button.carousel-control-prev.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            div.carousel-inner
                +crew_item(
                    "crew-member0",
                    "crew-member",
                    "Алан Шепард",
                    "Алан Шепард",
                    "img/placeholder-Copy.png", 
                    true
                )
                +crew_item(
                    "crew-member1", 
                    "crew-member", 
                    "Артур Дент", 
                    "Артур Дент", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member2", 
                    "crew-member", 
                    "Рендом Амбер", 
                    "Рендом Амбер", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member3", 
                    "crew-member", 
                    "Джонни Рико", 
                    "Джонни Рико", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member4", 
                    "crew-member", 
                    "Ксеномоф", 
                    "Ксеномоф", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member5", 
                    "crew-member", 
                    "Граф Дукулу", 
                    "Граф Дукулу", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member6", 
                    "crew-member", 
                    "Бендер", 
                    "Бендер", 
                    "img/placeholder-Copy.png",
                    false
                )
                +crew_item(
                    "crew-member7", 
                    "crew-member", 
                    "Гермес Конрад", 
                    "Гермес Конрад", 
                    "img/placeholder-Copy.png",
                    false
                )
            button.carousel-control-next.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next

        +next-bottom-btn