include ../mixins/next_btn
include ../mixins/background_stars
div.d-flex.flex-column.section-outer.choose-crew
    div.infobar-min-height.w-100
    +draw_stars

    div.container
        
        div.little-choise__description.text-center.text-light.mt-4 Выберите членов экипажа (максимум 5)
        div.mt-5.d-flex
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member0" value="Алан Шепард" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member0")
                    | Алан Шепард
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member1" value="Боб Бенкин" type="checkbox" name="crew-member" data-url-image="img/bobBehnken.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-bobBehnken" for="crew-member1")
                    | Боб Бенкин
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member2" value="Даг Херли" type="checkbox" name="crew-member" data-url-image="img/DougHurley.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-dougHurley" for="crew-member2")
                    | Даг Херли
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member3" value="Нил Армстронг" type="checkbox" name="crew-member" data-url-image="img/neilArmstrong.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-neilArmstrong" for="crew-member3")
                    | Нил Армстронг
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member4" value="Чек бокс" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member4")
                    | Алексей Леонов
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member5" value="Человек" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member5")
                    | Человек
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member6" value="Член Экипажа" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member6")
                    | Венерянин
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member7" value="Пришелец" type="checkbox" name="crew-member" data-url-image="img/feian-min.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-feian" for="crew-member7")
                    | Типичный Астероидянин
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member8" value="Диффектив" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member8")
                    | Марсианин
            
            div.little-choise-container__radio.little-choise-container__radio_small.little-choise-container__radio_margin
                input(class="little-choise-container__radio-input" id="crew-member9" value="Киберленин" type="checkbox" name="crew-member" data-url-image="img/placeholder-Copy.png")
                label(class="little-choise-container__radio-label little-choise-container__radio-label_small picture-placeholder" for="crew-member9")
                    | Юрий Алексеевич
                
        +next-bottom-btn