include ../mixins/carousel_items
include ../mixins/background_stars
div.d-flex.flex-column.section-outer.choose-equipment
    div.infobar-min-height.w-100

    +draw_stars
    
    div.container
        div.little-choise__description.text-center.text-light.mt-4 Выберите оснащение
        div.carousel.mt-5.d-flex(id="equipmentCarouselControls")
            button.carousel-control-prev.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            div.carousel-inner
                +circled_item(
                    "item-equ0",
                    "item-equipment",
                    "ускоритель",
                    "ускоритель",
                    "img/accelerator.png",
                    true
                )
                +circled_item(
                    "item-equ1",
                    "item-equipment",
                    "рельсовые пушки",
                    "рельсовые пушки",
                    "img/railGan.png",
                    false
                )
                +circled_item(
                    "item-equ2",
                    "item-equipment",
                    "псевдо-маячки",
                    "псевдо<span class=\"hyphen\">-</span>маячки",
                    "img/fakeBeacon.png",
                    false
                )
                +circled_item(
                    "item-equ3",
                    "item-equipment",
                    "таинственный шар",
                    "таинственный шар(сувенир)",
                    "img/strangeSphere.png",
                    false
                )
                
            button.carousel-control-next.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next

        div.position-absolute.w-100.bottom-0.start-0.d-flex.flex-column.align-items-center.choise-link-animation.swiper-js
            div.text-light.fs-3.fit-content next
            div.choise-link-icon.fit-content
                img(src="icons/1492533501-arrow-30_83308.ico" alt="next")
