include ../mixins/next_btn
include ../mixins/carousel_items
include ../mixins/background_stars

div.d-flex.flex-column.section-outer.choose-flightPath
    div.infobar-min-height.w-100
    +draw_stars

    div.container.flex-grow-1.d-flex.flex-column
        div.little-choise__description.text-center.text-light.mt-4 Куда полетите?
        div.carousel.mt-3.d-flex.flex-grow-1(id="flightpathCarouselControls")
            button.carousel-control-prev.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            div.carousel-inner
                //- monolit_item(id, name, value, title, img_path, active=false)
                each item, index in flightpaths
                    +monolit_item(
                        "flightpath-" + item.id,
                        "flightpath",
                        item.title_en,
                        item.title_ru,
                        item.img_path, 
                        index==0 ? true : false 
                    )
                //- +monolit_item("flightPath0", "flightPath", "Пояс астеройдов", "Пояс астеройдов", "img/asteroidBelt.jpg", true)
                //- +monolit_item("flightPath1", "flightPath", "Марс", "Марс", "img/mars.jpg", true)
                //- +monolit_item("flightPath2", "flightPath", "Спутники Юпитера", "Спутники Юпитера", "img/Jupiter'sSputnics.jpg", true)
                //- +monolit_item("flightPath3", "flightPath", "Спутники Сатурна", "Спутники Сатурна", "img/saturnSputnics.jpg", true)
                //- +monolit_item("flightPath4", "flightPath", "Церера", "Церера", "img/Ceres.jpg", true)
                
            button.carousel-control-next.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next
        
        +next-bottom-btn