div.footer.top-line
    div.d-flex.justify-content-center
        a(href="https://github.com/alchemistOfWeb",target="_blank",class="m-3 contact text-decoration-none link-light")
            i.contact__icon.bi.bi-github
        div(class="m-3 contact text-light")
            i.contact__icon.bi.bi-envelope-at
        a(href="https://www.linkedin.com/in/niksov-voskin/",target="_blank",class="m-3 contact text-decoration-none link-light")
            i.contact__icon.bi.bi-linkedin
        a(href="https://t.me/Nikitas_endeavour",target="_blank",class="m-3 contact text-decoration-none link-light")
            i.contact__icon.bi.bi-telegram