div.section-header.mb-5
    div.container.d-flex.flex-column.align-items-center.justify-content-center.section-header__inner-layout
        div.d-flex.flex-column.align-items-center
            div.px-3.overflow-hidden
                h1.section-header__name Nikita Kuznetsov
            div.animated-line
            div.px-3.overflow-hidden
                h2.section-header__job Python Backend developer
        