div.section-outer.section-header
    div.section-inner
        div.section-header-content
            div.section-header-wrapper
                div.section-header-wrapper__title Solar system tour
                div.section-header-wrapper__subtitle Выбирай корабль, оснащение, экипаж, траекторию и отправляйся в незабываемое приключение по солнечной системе 2189
                div.section-header-wrapper__form
                    div.section-header-wrapper__form-input
                        input(class="border-focus-normal" type="text" placeholder="name" id="input-name-js")
                    
                    div.section-header-wrapper__form-input
                        input(class="border-focus-normal" type="text" placeholder="surname" id="input-surname-js")
                    
                    div.section-header-wrapper__form-button
                        button(id="swiper-js") get started