div.info-bar.js-info-bar
    div.info-bar__wrapper
        div.info-bar__content
            div.info-bar__personal-data
                a(href="#" class="info-bar__point info-bar__data-rule info-bar-link-js" data-index-translate="0")
                    p.info-bar__text.js-person-name ............
                    p.info-bar__text.js-person-surname ............
                    
            div.info-bar__params
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-index-translate="-100")
                        p.info-bar__title.info-bar__title_params корабль
                        p.info-bar__text.info-bar__text_params(id="starship") ............
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-index-translate="-200")
                        p.info-bar__title.info-bar__title_params оснащение
                        p.info-bar__text.info-bar__text_params(id="equipment") ............
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-index-translate="-300")
                        p.info-bar__title.info-bar__title_params направление
                        p.info-bar__text.info-bar__text_params(id="flightPath") ............

            div.info-bar__crew
                div.info-bar__crew-wrapper
                    a(href="#" class="info-bar__crew-link js-layout-screen-set info-bar-link-js" data-index-translate="-400")
                        p.info-bar__title.info-bar__title_params экипаж
                    ul(class="info-bar__crew-list info-bar__list_params" id="js-crew-list")

            div.info-bar__toggle
                img(class="info-bar__toggle-arrow" src="icons/down-arrows_icon-icons.com_70186.svg" alt="arrow")