div.info-bar.js-info-bar
    div.info-bar__wrapper.infobar-min-height
        div.info-bar__content
            div.info-bar__personal-data
                a(href="#" class="info-bar__point info-bar__data-rule info-bar-link-js" data-slidename="header")
                    span.info-bar__text.js-person-name ............
                    span.info-bar__text.js-person-surname ............
                    
            div.info-bar__params
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-slidename="starshipChoice")
                        span.info-bar__title.info-bar__title_params корабль
                        span.info-bar__text.info-bar__text_params(id="starship") ............
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-slidename="equipmentChoice")
                        span.info-bar__title.info-bar__title_params оснащение
                        span.info-bar__text.info-bar__text_params(id="equipment") ............
                div.info-bar__item.info-bar__data-rule
                    a(href="#" class="info-bar__link js-layout-screen-set info-bar-link-js" data-slidename="flightpathChoice")
                        span.info-bar__title.info-bar__title_params направление
                        span.info-bar__text.info-bar__text_params(id="flightPath") ............

            div.info-bar__crew
                div.info-bar__crew-wrapper
                    a(href="#" class="info-bar__crew-link js-layout-screen-set info-bar-link-js" data-slidename="crewChoice")
                        span.info-bar__title.info-bar__title_params экипаж
                    ul(class="d-flex mb-0 info-bar__crew-list info-bar__list_params" id="js-crew-list")

            div.info-bar__toggle
                img(class="info-bar__toggle-arrow" src="icons/down-arrows_icon-icons.com_70186.svg" alt="arrow")