div.portfolio 
    h2.title Portfolio
    //- div.d-flex.my-3.pb-3.flex-wrap
    //- div.card-group.my-3.pb-3.flex-wrap
    div.row.row-cols-1.row-cols-md-3.g-4.my-3.pb-3
        div.col(data-bs-toggle="modal" data-bs-target="#exampleModal2")
            div.card.project-card
                img(src="/img/fog.jpg", class="project-card__image", alt="...", srcset="")
                div.card-img-overlay.d-flex.align-items-center
                    div.project-card__content
                        h5.project-card__title.card-title.text-center Stepos
                        p.project-card__text.card-text.text-center some text description
        div.col(data-bs-toggle="modal" data-bs-target="#exampleModal2")
            div.card.project-card
                img(src="/img/spacetour.jpg", class="project-card__image", alt="...", srcset="")
                div.card-img-overlay.d-flex.align-items-center
                    div.project-card__content
                        h5.project-card__title.card-title.text-center Space Tour 2189
                        p.project-card__text.card-text.text-center some text description
        div.col(data-bs-toggle="modal" data-bs-target="#exampleModal2")
            div.card.project-card
                img(src="/img/fog.jpg", class="project-card__image", alt="...", srcset="")
                div.card-img-overlay.d-flex.align-items-center
                    div.project-card__content
                        h5.project-card__title.card-title.text-center Personal page
                        p.project-card__text.card-text.text-center some text description
        div.col(data-bs-toggle="modal" data-bs-target="#exampleModal2")
            div.card.project-card
                img(src="/img/fog.jpg", class="project-card__image", alt="...", srcset="")
                div.card-img-overlay.d-flex.align-items-center
                    div.project-card__content
                        h5.project-card__title.card-title.text-center Film Base
                        p.project-card__text.card-text.text-center some text description
        div.col(data-bs-toggle="modal" data-bs-target="#exampleModal2")
            div.card.project-card
                img(src="/img/fog.jpg", class="project-card__image", alt="...", srcset="")
                div.card-img-overlay.d-flex.align-items-center
                    div.project-card__content
                        h5.project-card__title.card-title.text-center TODO list
                        p.project-card__text.card-text.text-center some text description
        