div.skills(data-aos="fade-zoom-in", data-aos-easing="ease-in-back", data-aos-offset="0", data-aos-delay="200") 
    h2.title Skills
    div.row.my-3.pb-3.bottom-line
        div.col-md-6
            h4 coding
            ul.skills__list
                - var stars = {title: "Python", number: 5}
                include ../utils/stars
                - var stars = {title: "Django", number: 5}
                include ../utils/stars
                - var stars = {title: "FastAPI", number: 4}
                include ../utils/stars
                - var stars = {title: "Flask", number: 4}
                include ../utils/stars
                - var stars = {title: "Pandas", number: 4}
                include ../utils/stars
                - var stars = {title: "SQLAlchemy", number: 5}
                include ../utils/stars
                - var stars = {title: "DRF", number: 5}
                include ../utils/stars
                - var stars = {title: "SQL", number: 5}
                include ../utils/stars
                - var stars = {title: "HTML5", number: 5}
                include ../utils/stars
                - var stars = {title: "CSS3+SASS", number: 4}
                include ../utils/stars
                - var stars = {title: "Javascript", number: 4}
                include ../utils/stars
                - var stars = {title: "React", number: 4}
                include ../utils/stars
                - var stars = {title: "Jquery", number: 4}
                include ../utils/stars
                - var stars = {title: "php7", number: 3}
                include ../utils/stars
                - var stars = {title: "laravel", number: 2}
                include ../utils/stars
        div.col-md-6
            h4 languages
            ul.skills__list
                - var stars = {title: "Russian(native)", number: 5}
                include ../utils/stars
                - var stars = {title: "English(B1)", number: 3}
                include ../utils/stars
                - var stars = {title: "Armenian", number: 1}
                include ../utils/stars
            h4 other
            ul.skills__list
                - var stars = {title: "GIT", number: 5}
                include ../utils/stars
                - var stars = {title: "Nginx", number: 4}
                include ../utils/stars
                - var stars = {title: "Linux", number: 4}
                include ../utils/stars
                - var stars = {title: "Docker", number: 4}
                include ../utils/stars
                - var stars = {title: "Postman", number: 5}
                include ../utils/stars
                - var stars = {title: "VScode", number: 5}
                include ../utils/stars
                - var stars = {title: "Figma", number: 3}
                include ../utils/stars