doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.min.css")
        script(src="js/main.js") 
    body 
        div(class="main-wrapper bg-dark text-light") 
            block page
        //- need to change d-block on d-none
        //- div(class="modal-wrapper d-block")
        block modal

        

        