@import "chunk/_fonts.scss";
@import "../../node_modules/tippy.js/dist/tippy";
@import "../../node_modules/tippy.js/themes/material.css";
@import "../../node_modules/tippy.js/animations/scale.css";
@import "../../node_modules/aos/dist/aos";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url(/fonts/bootstrap-icons.woff2) format("woff2"),url(/fonts/bootstrap-icons.woff) format("woff")
}
// === common
$sm : 576px;    $sm-max : 767px;
$md : 768px;    $md-max : 991px; 
$lg : 992px;    $lg-max : 1199px;
$xl : 1200px;

// top bar options
$infobar_height: 115px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    height: 100vh;
    overflow: hidden;

}

.section-inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    position: relative;
    
}
.background-stars{
    position: absolute;
    height: 100px; 
    width: 100px; 
    &__img{
        height: 100%;
        width: 100%;
        filter: contrast(20%);
    }
}
.section-outer{
    height: 100vh;
    position: relative;
}

.infobar-min-height {
    min-height: $infobar_height;
}
.infobar-height {
    height: $infobar_height;
}

.hyphen{
    font-family: Arial, Helvetica, sans-serif;
}
// === / common

// === info-bar
.info-bar{
    // background: linear-gradient(180deg, black, gray);
    background: url('../img/s1200.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    top: -115px;
    right: 0;
    left: 0;
    position: fixed; 
    z-index: 1000;
    display: flex;
    // transition-duration: .5s;
    &-none{
        display: none !important;
    }
    &__data{
        position: relative;
        &-rule:after{
            position: absolute;
            margin-top: 5px;
            content: '';
            height: 2px;
            width: 30%;
            background: linear-gradient(90deg, black, yellow);
            background-position: center;
            background-size: cover;
            @media (min-width: $lg){
                display: none;
            }
            // @media (max-width: 
        }
    }
    &__toggle{
        position: absolute;
        
        bottom: 10px;
        transition-duration: .3s;
        @media(min-width: $lg){
            display: none;
        }
        @media(min-width: $md){
            right: 33%;
        }
        @media(max-width: $sm-max){
            right: 25%;
        }
        @media(max-width: $sm){
            right: 4%;
        }
        &-arrow{
            height: 50px;
            width: 35px;
            filter: brightness(2060%) drop-shadow(0 0 10px black);
            cursor: pointer;
            &_up{
                transform: rotateX(180deg);
            }
        }
    }
    &_open{
        max-height: 1100px !important;
        
    }
    &__wrapper{
        transition-duration: .9s;
        width: 1200px;
        margin: 0 auto;
        // background: linear-gradient(0deg, #4441416e, #9746468c, #9746467a, #4441413a);
        background: linear-gradient(0deg, #4441416e, #4697978c, #4650977a, #4441413a);
        @media (max-width: $md-max){
            overflow: hidden;
            min-height: 70px;
            max-height: 70px;
            position: relative;
        }
    }
    &__content{
        display: flex;
        width: 100%;
        padding-left: 5px;
        @media (min-width: $lg){
            flex-direction: row;
        }
        @media (max-width: $md-max){
            flex-direction: column;
        }
        
    }
    &__personal-data{
        display: flex;
        flex-direction: row;
        width: 20%;
        // background-color: rgb(116, 64, 64);
        @media (max-width: $md-max){
            margin: 0 20%;
        }
        @media(max-width: $sm-max){
            margin: 0 4%;
        }
    }
    &__params{
        display: flex;
        width: 50%;
        @media (min-width: $lg){
            flex-direction: row;
        }
        @media (max-width: $md-max){
            margin: 0 20%;
            flex-direction: column;
        }
        @media(max-width: $sm-max){
            margin: 0 4%;
        }
    }
    &__crew{
        display: flex;
        flex-direction: row;
        width: 30%;
        // background-color: rgb(69, 128, 61);
        @media (max-width: $md-max){
            margin: 0 20%;
        }
        @media(max-width: $sm-max){
            margin: 0 4%;
        }
        &-wrapper{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-link{
            width: 50px;
            text-decoration: none;
        }
        &-link:hover>p{
            color: rgb(63, 146, 63);
        }
        &-list{
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            &-item{
                margin: 0 10px;
                width: 40px;
                height: 40px;
                display: block;
                // background-size: cover;
                // background-position: center;
                // background-color: red;
                border-radius: 50%;
                box-shadow: 0 0 1px 1px rgb(63, 87, 77);
                &:hover{
                    box-shadow: 0 0 3px 3px rgb(108, 151, 151);
                }
            }
        }
    }
    &__point{
        width: 20%;
        text-decoration: none;
        @media (min-width: $lg){
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media (max-width: $md-max){
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &__item{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 33.3%;
        
    }
    &__link{
        display: flex;
        flex-direction: column;
        width: 50px;
        text-decoration: none;
    }
    &__link:hover>&__title{
        color: rgb(58, 177, 58);
    }
    &__title{
        font-size: 17px;
        text-shadow: 0 0 2px green;
        color: white;
        line-height: normal;
    }
    &__text{
        color: white;
        font-size: 22px;
        line-height: normal;
    }
}
// === / info-bar

// === section-header ===
.section-header {
    background: url('../img/nebula-planet-by-david-cowan-1629768-1599x956.jpg'),
    radial-gradient(50% 50%, rgba(0, 0, 0, 0.068) 60%, rgba(0, 0, 0, 0.151) , rgba(0, 0, 0, 0.678));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    @media (min-width: $md){
        .section-inner{
            width: 60%;
        }
    }
    @media (max-width: $sm-max){
        .section-inner{
            width: 80%;
        }
    }
    
    &-content{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper{
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        &__title,
        &__subtitle{
            text-align: center;
        }
        &__title{
            color: white;
            font-size: 50px;
            @include NiseSegaRegular;
            text-shadow: 0 0 10px red;
            animation-name: h1-text-animation;
            animation-duration: 12s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            letter-spacing: 10px;
        }
        &__subtitle{
            margin: auto;
            color: white;
            font-size: 27px;
            line-height: 20px;
            @include CStrike;
            margin-top: 15px;
        }
        &__form{
            display: flex;
            position: relative;
            top: 40px;
            @media (max-width: $lg-max) {
                flex-direction: column;
            }
            @media (min-width: $xl) {
                flex-direction: row;
            }
            &-input { 
                flex: 1;
                @media (min-width: $xl) {
                    padding-right: 40px;
                }
                @media (max-width: $lg-max) {
                    padding-bottom: 20px;
                }
                input{
                    color: rgb(1, 15, 1);
                    text-shadow: 0 0 3px rgb(207, 201, 178), 0 0 6px rgb(211, 175, 56);
                    flex: 1;
                    border: none;
                    background: rgba(128, 128, 128, 0.548);
                    margin: 0;
                    padding: 16px 20px;
                    font-size: 20px;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;
                    transition-duration: .3s;
                    &::placeholder {
                        color: white; 
                        text-shadow: 0 0 0px;
                    }
                }
                &_border-color_white{
                    &:focus{
                        box-shadow: 0 0 0 2px white;
                    }
                }
                &_border-color_red{
                    &:focus{
                        box-shadow: 0 0 0 2px rgb(194, 29, 29);
                    }
                }
                &_border-color_green{
                    &:focus{
                        box-shadow: 0 0 0 2px rgb(29, 194, 29);
                    }
                }
            }
            &-button {
                button{
                    border: none;
                    background: rgba(184, 102, 64, 0.829);
                    margin: 0;
                    padding: 16px 35px;
                    font-size: 16px;
                    outline: none;
                    border-radius: 5px;
                    transition-duration: .3s;
                    &:hover{
                        box-shadow: 0 0 4px 2px rgb(255, 185, 71);
                    }
                    &:active{
                        box-shadow: 0 0 6px 3px rgb(255, 114, 21);
                    }
                }
            }
        }
    }
}

.border-focus {
    &-danger:focus {
        box-shadow: 0 0 0 2px rgb(194, 29, 29);
    }
    &-success:focus {
        box-shadow: 0 0 0 2px rgb(29, 194, 29);
    }
    &-normal:focus {
        box-shadow: 0 0 0 2px white;
    }
}

@keyframes h1-text-animation {
    from {
        text-shadow: 0 0 10px red;
    } 10% {
        text-shadow: 0 0 25px red;
    } 20% {
        text-shadow: 0 0 10px #00ffaa;
    } 30% {
        text-shadow: 0 0 25px #00ffaa;
    } 40% {
        text-shadow: 0 0 10px #003cff;
    } 50% {
        text-shadow: 0 0 25px #003cff;
    } 60% {
        text-shadow: 0 0 10px #ffee00;
    } 70% {
        text-shadow: 0 0 25px #ffee00;
    } 80% {
        text-shadow: 0 0 10px #ff9100;
    } 90% {
        text-shadow: 0 0 25px #ff9100;
    } to {
        text-shadow: 0 0 10px red;
    }
}
// === / section-header ===

// === also common

.little-choise{
    z-index: 50;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    position: relative;
    @media(max-width: $sm-max){
        padding-top: 10px;
    }
    
    &__description{
        font-size: 40px;
        line-height: 25px;
        @include CStrike;
        @media(max-width: $sm-max){
            font-size: 30px;
        }
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @media(max-width: $sm-max){
            padding-left: 20%;
        }
        &_flex{
            @media (min-width: $xl){
                flex-direction: row;
                justify-content: center;
            }
            @media (max-width: $lg-max){
                flex-direction: column;
                height: 450px;
                justify-content: center;
                top: -100px;
                
            }
        }
        &_grid{
            @media(max-width: $sm-max){
                display: grid;
                grid-template-rows: 150px 150px;
                grid-auto-flow: column;
                margin-top: 30px;
            }
        }

        &__radio{
            flex-shrink: 0;
            width: 200px;
            height: 50px;
            // delete:
            // &_big{
            //     padding-top: 250px;
            // }
            // &_margin{
            //     margin: 30px;
            // }
            &_small{
                width: 100px;
                padding-top: 150px;
                @media(max-width: $sm-max){
                    width: 70px;
                    padding-top: 45px;
                }
            }
            &-input{
                display: none;
            }
            &-label{
                text-align: center;
                padding-top: 40px;
                color: white;
                font-size: 27px;
                @include CStrike;
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
                &:before{
                    content: "";
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    display: block;
                    transition-duration: .4s;
                } 
                &_big:before{
                    top: -200px;
                    height:200px;
                    width: 200px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 50%;
                }
                // @media(max-width: $sm-max){
                //     position: relative;
                //     top: -10px;
                //     height:80px;
                //     width: 80px;
                // }
                &_small{
                    @media(max-width: $sm-max){
                        position: relative;
                        top: -100px;
                    }
                }
                &_small:before{
                    top: -80px;
                    height:100px;
                    width: 100px;
                    background-size: 90%;
                    border-radius: 50%;
                    @media(max-width: $sm-max){
                        position: relative;
                        top: 0px;
                        width: 70px;
                        height: 70px;
                    }
                }
                &_rectangle:before{
                    
                    background-size: auto 100%;
                    @media (min-width: $lg){
                        height:410px;
                        width: 180px;
                        top: -250px;
                    }
                    @media (max-width: $md-max){
                        height:340px;
                        width: 170px;
                        top: -230px;
                        
                    }
                    
                }
                &_rectangle{
                    
                    @media (min-width: $lg){
                        width: 180px;
                        padding-top: 170px;
                    }
                    @media (max-width: $md-max){
                        padding-top: 130px;
                        width: 170px;
                    }
                }
            }
            // &+&{
            //     margin-left: 100px;
            // }
            &-input:checked + &-label:before {
                box-shadow: 0 0 1px 6px rgb(255, 255, 255)!important;
            }
            // little-choise-container__radio-input-js_grey
            &-input:hover + &-label:before {
                box-shadow: 0 0 1px 6px rgba(255, 255, 255, 0.555);
            }
            &-input-js_red:hover + &-label:before {
                box-shadow: 0 0 1px 6px rgba(110, 16, 16, 0.555);
            } 

        }
    }
    
}
@mixin background($imgpath, $position: center, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: cover;
    }
}

.carousel-item {
    &__rotated-border-block {
        position: absolute;
        border-width: 0px;
        border-color: white;
        border-style: dashed;
        transition: border-width 0.1s;
        top: 0;
        &:hover {
            cursor: pointer;
            border-width: 4px;
            animation-name: rotate-border;
            animation-duration: 6s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            // border-color: white;
            // border-style: dashed;
        }
    }
    
}

.hover-grayscale {
    // transition-timing-function: linear;
    // transition-duration: 0.3s;
    transition: filter 0.5s linear;
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
}

@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@media (min-width: $md) {
    .carousel-item {
      margin-right: 0;
      display: block;
    }
    .flex-basis-md-3 {
        flex: 0 0 33.333333%;
    }
    .flex-basis-md-4 {
        flex: 0 0 25%;
    }
    .flex-basis-md-5 {
        flex: 0 0 20%;
    }
    .carousel-inner {
      display: flex;
    }
}

// HELPERS
.fit-content {
    width: fit-content;
}

.object-fit-cover {
    object-fit: cover;
}

.height_eq_width {
    aspect-ratio: 1 / 1;
}


.choise-link-animation{
    // position: relative;
    // top: 50px;
    // min-width: 72px;
    // align-self: center;
    cursor: pointer;
    animation-name: arrow-link;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &-icon{
        filter: drop-shadow(0 1px 10px black);
    }
}
@keyframes arrow-link{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}
.default{
    z-index: 150;
    top: -30px;
    width: 220px;
}
.spec{
    top: 30px;
    width: 260px;
}
.btn-container{
    margin: 0 auto;
    position: relative;
    @media (min-width: $lg){
        display: none;
    }
    @media (max-width: $md-max){
        display: block;
    }
}
.btn-back{
    position: relative;
    cursor: pointer;
    float: left;
    width: 50px;
    height: 50px;
    display: flex;
    &__arrow{
        transform: rotate(90deg);
    }
}
.btn-next{
    position: relative;
    cursor: pointer;
    float: right;
    display: flex;
    &__arrow{
        transform: rotate(-90deg);
    }
}
.btn-arrow{
    width: 50px;
    height: 50px;
    filter: brightness(1000%);
}
// === / also common

// === choose-starship ===
.choose-starship {
    background: linear-gradient(45deg, rgb(30, 209, 185), rgb(3, 88, 109));
    background-position: center;
    background-size: cover;
}

// === section-equipment ===
.choose-equipment {
    background: linear-gradient(45deg, rgb(53, 223, 157), rgb(19, 52, 114));
    background-position: center;
    background-size: cover;
}
// === / section-equipment ===

.picture-neilArmstrong:before{
    @include background('../img/neilArmstrong.png');
}
.picture-dougHurley:before{
    @include background('../img/DougHurley.png');
}
.picture-bobBehnken:before{
    @include background('../img/bobBehnken.png');
}
.picture-feian:before{
    @include background('../img/feian-min.png');
}
.picture-placeholder:before{
    @include background('../img/placeholder-Copy.png');
}
// === section-crew ===
.choose-crew {
    background: linear-gradient(45deg, rgb(128, 63, 113), rgb(19, 134, 180));
    background-position: center;
    background-size: cover;
    .section-inner{
        width: 70% !important;
    }
}
// === / section-crew ===

.picture-saturnsSputnics:after{
    content: "Спутники Сатурна";
    color: white;
    font-size: 0px;
    position: relative;
    bottom: 200px;
}
// === flight-path ===
.choose-flightPath{
    background: linear-gradient(45deg, rgb(117, 41, 99), rgb(60, 44, 206));
    background-position: center;
    background-size: cover;
}
// === / flight-path ===

// === section-launch ===
.section-launch{
    // background: linear-gradient(90deg, rgb(213, 216, 172), rgb(167, 133, 133));
    background: url('../img/arrivingOnMars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// === / section-launch ===